*{
    margin: 0;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    font-family: glacial, indifference, sans-serif;
}

body{
    overflow-x:hidden ;
}

.img-logo{
    width: 100%;
    height: 85vh;
    overflow: hidden;
}


.t1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
    z-index: -10;
    animation: slide 0.4s ease-in-out;
    overflow: hidden;
}


.s-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 110;
    width: 100%;
}

.menu, .redes-sociais, .logo{
    display: flex;
    padding-right: 20px;
}

a, li, ul{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
    width: 100%;
}

.logo h1{
    color: #fff;
    margin-left: 25px;
    font-size: 35px;
    font-weight: 700;
}

.menu a{
    color: rgba(255,255,255,.75);
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    position: relative;
}

.redes-sociais svg{
    width:20.86px;
    height:20px ;
    color: #ffff;
}

.menu{
    margin-left: 90px;
}
@keyframes aparecer{
    from{
       transform: scaleX(0);
    }
    to{
        transform-origin: center;
        transform: scaleX(1);
    }
}
.it-1:hover{
    color: #ffffff;
    transition: ease-in-out 0.5s;
}

.it-2:hover{
    color: #ffffff;
    transition: ease-in-out 0.5s;
}

.it-3:hover{
    color: #ffffff;
    transition: ease-in-out 0.5s;
}

.it-4:hover{
    color: #ffffff;
    transition: ease-in-out 0.5s;
}

.it-5:hover{
    color: #ffffff;
    transition: ease-in-out 0.5s;
}

.it-1:hover::after{
    bottom: 0;
    content: '';
    height: 1px;
    width: 42px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    animation: aparecer 0.5s ease-in-out;
}

.it-2:hover::after{
    bottom: 0;
    content: '';
    height: 1px;
    width: 48.52px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    animation: aparecer 0.5s ease-in-out;
}

.it-3:hover::after{
    bottom: 0;
    content: '';
    height: 1px;
    width: 71.52px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    animation: aparecer 0.5s ease-in-out;
}

.it-4:hover::after{
    bottom: 0;
    content: '';
    height: 1px;
    width: 41.52px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    animation: aparecer 0.5s ease-in-out;
}

.it-5:hover::after{
    bottom: 0;
    content: '';
    height: 1px;
    width: 67.52px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    animation: aparecer 0.5s ease-in-out;
}

@keyframes slide{
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}

.mostrando{
    background-image: url(./bg-5.jpg);
}

.mostrando2{
    background-image: url(./bg-4.jpg);
}
.bara-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #F4F5F8;
    height: 15vh;
    z-index: 110;
    overflow: hidden;
}

.bara-itens li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 80px;
    cursor: pointer;
    width: 100%;
}

.c-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 110;
    width: 100%;
    margin-top: 120px;
}

.c-slide, p, h1, h4{
    color: #FFFFFF;
}

.c-slide h1{
    font-size: 130px;
    opacity: 0;
}

.c-slide h4{
    text-align: center !important;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 390px 0px 390px;
    opacity: 0;
}

.c-slide button{
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0;
}

.s-b1{
    background-color: #FD7250;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    border: none;
    box-shadow: none;
    width: 248.64px;
    height: 60.78px;
    border-radius: 50px;
    margin-right: 20px;
    transition: 0.5s;

}

.s-b2{
    background-color: transparent;
    border: 3px solid #2ED47C;
    color: #2ED47C;
    width: 248.64px;
    height: 60.78px;
    border-radius: 50px;
    font-weight: bold;
    outline: none;
    transition: 0.5s;

}

.separador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.s-b1:hover{
    background-color: #ffffff;
    transition: 0.5s;
    color: black;
}

.s-b2:hover{
    background-color: #2ED47C;
    color: #ffffff;
}

.container-3{
    display: flex;
    justify-content: space-between;
    opacity: 0;
}

.s-c3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 120px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-size: 20px;
    justify-content: center;
}

.s-c3 p, h3{
    color: black;
    padding-left: 60px;
}

.s-c3 button{
    width: 171.7px;
    height: 53.19px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    background-color: #FD7250;
    font-size: 14px !important;
    font-weight: bold !important;
    color: white;
    margin: 0 auto;
    margin-top: 45PX;
    outline: none;
}

.h3-flex{
    color: black;
    display: flex;
    align-items: center;
    font-size: 60px !important;
}

.h3-flex h3{
    color: black;
    display: flex;
}

.N{
    font-weight: 800 !important; 
}

.b{
    font-weight: 100 !important;
    padding-left: 30px !important;
}

.LOGO-C3{
    font-size: 60px;
    margin-bottom: 0px !important;
}

.s-c3 p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.p-1{
    font-style: italic;
    font-size: 40px;
}

.p-2{
    color: #848695 !important;
}

.s-c4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 150px;
}

.img1{
    height: 584.3px;
    width: 457.5px;
    margin-left: 100px;

}

.img2{
    width: 365.63px;
    height: 395.27px;
    margin-top: -250px;
    margin-right: 430px;
}

.s-b3{
    transition: 0.2s ease-in-out;
}
.s-b3:hover{

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.521); 

}

.container-4{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    opacity: 0;
}

.t-1, .t-2, .t-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 87px;
    padding-right: 77px;
}

#tp{
    color: #C0C2C9;
    padding-bottom: 20px;
    padding-top: 20px;
    line-height: 30px;
}

#tp1{
    color: #35D681;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 12px;
    font-weight: 900;
}

.ul-t{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.ul-t li{
    margin-left: 0px;
    padding-top: 10px;
    font-size: 11px;
    font-weight: 600;
    color: #181B31;
    line-height: 20px;
}

.c-h3{
    padding-left: 0px;
    font-weight: 900;
    font-size: 30px;
}

.container-5{
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}

.img3{
    width: 1050.52px;
    height: 642.23px;
    margin-left: -200px;
}

.c-5text{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.c-5text h1{
    color: black;
    font-size: 60px;
    margin-left: -120px;
    padding-top: 50px;
}

.c-5text p{
    padding-top: 90px;
    color: #7B7D89;
    text-align: center;
    padding-left:80px;
    padding-right: 80px;
    font-size: 24px;
    line-height: 35px;
}

.segura-A{
    padding-top: 120px;
    display: flex;
    align-items: center;
}
.c-5text a{
    background-color: #2ED47C;
    display: flex;
    margin-left: 30px;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#s-ab2{
    background-color: transparent;
    display: flex;
    margin-left: -30px;
    width: 250px;
    height: 70px;
    font-weight: bold;
    border-radius: 0;
    color: black;
}

#s-ab2:hover{
    color: #FD7250;
    transition: 0.5s ease-in-out;
}

.container-6{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    margin-top: 100px;
}

.d-1, .d-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px 80px 0px 100px;
}

.i-1 img{
    width: 70px;
    height: 70px;

}

.i-2 img{
    width: 70px;
    height: 70px;
}

.i-1, .i-2{
    display: flex;
}



.container-6 h1{
    color: black;
    font-size: 24px;
}

.container-6 p{
    color: #FD987F;
    margin-top: 10px;
    font-size: 11px;
}

.o-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.d-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    color: #9394A1;
    letter-spacing: 1px;
    line-height: 40px;
    margin-right: 20px;
    margin-left: 85px;
}

.container-6 .d-2{
    margin-left: 0px;
}

.container-7{
    margin-top: 150px;
    width: 100%;
}

.container-7 h1{
    color: black;
    font-size: 55px;
}

.container-7 p{
    color: #2ED47C;
    font-size: 13px;
    font-weight: 900;
}

.title-7{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c7-img{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.c7-img img{
    width: 360px;
    height: 389.19px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-bottom: 15px;
}

.c7-img img:hover{
    transform: translate3d(0px, -3px, 0px);
    box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.425); 
}

.c7-img div{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;
    text-align: center;
}

.pd-1 img{
    margin-left: 100px;
}

.pd-2 img{
    margin-right: 100px;
}

.c7-img p{
    color: #FD7B5B;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}

.c7-img h2{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.c7-img h2:hover{
    color: #FD7B5B;
}

.c7-img h5{
    color: #A3A5B6;
    font-style: italic;
    font-size: 14px;
    cursor: pointer;
}

.pd-1 span{
    margin-left: 100px;
}

.pd-2 span{
    margin-right: 100px;
}

.container-8{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./bg-4.jpg);
    width: 100%;
    margin-top: 130px;
    height: 605px;
    background-repeat: no-repeat;
}

.container-8 h1{
    font-size: 72px;
    text-align: center;
}

.container-8 p{
    text-align: center;
    font-size: 20px;
    margin: 30px 70px 70px 70px;
}

.s-container-8{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 250px 0px 250px;
    width: 100%;
}

.container-8 button{
    cursor: pointer;
    background-color: #FD7250;
    outline: none;
    border: none;
    width: 231.64px;
    height: 60.78px;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
}

.container-9{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
}

.container-9 h1{
    color: black;
}

.container-9 div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container-9 h1{
    font-weight: bold;
    font-size: 18px;
}

.container-9 ul{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-9 li{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    font-size: 13px;
    margin-left: 0px;
}

.container-9 a{
    color: grey;
    display: flex;
    margin-left: 0px;
    justify-content: center;
    transition: 0.2s ease-in;
}

.container-9 a:hover{
    color: black;
}

.container-10{
    display: flex;
    width: 100%;
    height: 190px;
    justify-content: space-between;
}

.container-10 div{
    display: flex;
    align-items: center;
    width: 100%;
}

.container-10 div:nth-child(1){
    margin-top: 35px;
    margin-left: 100px;
}

.container-10 p{
    color: grey;
    font-size: 13px;
    margin-top: 35px;
    margin-left: -140px;
}

.s-m{
    color: #2ED47C;
}

/* ANIMAÇÕES FADE */

@keyframes fadeslider{
    from{
        opacity: 0;
        transform: translate3d(0px, 0px,0px);
    }
    to{
        opacity: 1;
        transform: translate3d(0px, -45px,0px);
    }
}

@keyframes fadeslider2{
    from{
        opacity: 0;
        transform: translate3d(0px, 0px,0px);
    }
    to{
        opacity: 1;
        transform: translate3d(0px, -25px,0px);
    }
}

.c-slide p{
    animation: fadeslider 0.8s ease-in-out forwards;

}

.c-slide h1{
    animation: fadeslider2 0.8s ease-in-out forwards;
    animation-delay: 0.4s;
}

.c-slide h4{
    animation: fadeslider2 0.8s ease-in-out forwards;
    animation-delay: 0.8s;

}

.s-b1{
    animation: fadeslider2 0.8s ease-in-out forwards;
    animation-delay: 1.2s;

}

.s-b2{
    animation: fadeslider2 0.8s ease-in-out forwards;
    animation-delay: 1.6s;


}

@keyframes fadeslider3{
    from{
        transform: translate3d(0px, 0px,0px);
        opacity: 0;
    }
    to{
        transform: translate3d(0px, -25px,0px);
        opacity: 1;
    }
}

.container-3.ativo .a1{
    animation: fadeslider3 0.8s ease-in-out forwards;
    opacity: 0;
}

.container-3.ativo .a2{
    animation: fadeslider3 0.8s ease-in-out forwards;
    animation-delay: 0.4s;
    opacity: 0;

}

.container-3.ativo .a3{
    animation: fadeslider3 0.8s ease-in-out forwards;
    animation-delay: 0.6s;
    opacity: 0;

}

.container-3.ativo .a4{
    animation: fadeslider3 0.8s ease-in-out forwards;
    animation-delay: 0.8s;
    opacity: 0;
}

.container-3.ativo .a5{
    animation: fadeslider3 0.8s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;

}

.container-3.ativo .a6{
    animation: fadeslider3 0.8s ease-in-out forwards;
    animation-delay: 1.2s;
    opacity: 0;

}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.container-3.ativo .img1{
    animation: fade 0.5s ease-in-out;

}

.container-3.ativo .img2{
    animation: fade 1.5s ease-in-out;
}

.container-4.ativo {
    transition: 0.7s ease-in-out;
}
.ativo{
    opacity: 1;
}
